.playWindow{
    display: flex;
    flex-direction: column;
}

.cardsPane{
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    border: 1px solid;
    border-radius: 10px;
}