.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap-reverse;
}
.counters {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #949494 3px 3px 3px 3px;
}
.counters * {
    margin: 5px;
    width: 80px;
}

.header .buttons{
    flex-wrap: nowrap;
    margin-right: -20px;


}
.buttons *{
    margin-right: 10px;
    margin-bottom: 5px;
}