.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}