.welcomepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #949494 3px 3px 3px 3px;
    border-radius: 10px;
    padding: 10px;
}

.welcomepage *{
    margin: 10px;
}